.card_work{
    display: block;
    width: 500px;
    height: 500px;
    position: relative;
   
    
    img{
        width: 100%;
        height: 100%;
    }
    .hover{
        position: absolute;
        
        width: 500px;
        height: 500px;
        color: black;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        top: 0;
        left: 0;
        background: linear-gradient(#0000009c, #0000006d);
        .see_img{
            width: 100%;
            height: 250px;
          
        }
        .text_hover{
            width: 100%;
            height: 250px;
            color: white;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            padding-bottom: 60px;
            .text{
                margin-left:25px ;
                p{
                    margin-bottom: 25px;
                }
                .title_hover{
                    font-size: 50px;
                }
            }
                
           
            
        }
        

    }
}
    
    
   
    
    
    